<div class="span2 well">
  <% unless album.photos.blank? %>
    <%= link_to image_tag(album.photos.sample.image.url(:medium)), album %>
  <% else %>
    <%= link_to image_tag('missing.jpg', width: '300px', height: '300px'), album %>
  <% end %>
  <br />
  <h4 class="text-center"><%= best_in_place album, :name %></h4>
  <p class="text-center"><%= album.photos.count %> Photo(s) inside..</p>
  <center><%= link_to "Delete Album", album, method: :delete, confirm: "Are you sure to remove this Album and its images?" %></center>
</div>