<h2>New Album</h2>
<br />

<%= simple_form_for @album do |f| %>
  <%= f.input :name, :input_html => {:required => true} %>
  
  <fieldset>
    <legend>Images</legend>

    <div id="uploadPreview" class="span12"></div>

    <%= f.simple_fields_for :photos_attributes, multipart: true do |p| %>
	<div id="new-image">
      <%= p.input :image, as: :file, label: false, input_html: {name: 'album[photos_attributes][0][image]', class: 'filestyle active_image', :'data-input' => 'false', :'data-classIcon' => 'icon-plus', :'data-classButton' => 'btn btn-success', :'data-buttonText' => 'Add Image'}, wrapper_html: {id: 'add-new-image'}  %>
	  </div>
    <% end %>

  <fieldset>
  <hr />
  <div id='hidden_fields' style='display:none'></div>
  <%= f.submit 'Create Album', class: 'btn btn-primary center' %>
<% end %>
