<div class="span2 well">
  <%= link_to content_tag(:i, nil, class: 'icon-remove icon-white'), [photo.album, photo], method: :delete, confirm: "Are you sure to remove this Image from this Album?", class: 'btn btn-danger remove-asset float-over' %>
  <% title = "<h4>#{photo.name}</h4>" %>
  <% title = photo.tags.blank? ? title : title.concat("<p><b>Tags: </b>#{photo.tags.map(&:title).join(', ')}</p>") %>
  <%= link_to image_tag(photo.image.url(:medium)), photo.image.url(:large), rel: "lightbox", title: title %>
  <br />
  <div>
    <h4 class="text-center"><%= best_in_place [photo.album, photo], :name %></h4>
  </div>
  <hr />
  <b>Tags: </b>
  <% unless photo.tags.blank? %>
    <% for tag in photo.tags %>
      <%= content_tag :span, class: 'badge' do %>
        <%= tag.title.titleize %>
        <%= link_to content_tag(:i, nil, class: 'icon-remove icon-white'), [photo.album, photo, tag], class: 'remove-tag'%>
      <% end %>
    <% end %>
  <% end %>
  <%= link_to content_tag(:i, '  Add More', class: 'icon-tag'), "#tag_details_#{photo.id}", class: 'btn btn-success btn-mini' , :'data-toggle' => "modal" %>
</div>
<%= render 'photos/add_tag' , photo: photo %>